body {
  background-color: darkgrey
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}
h1,button,fieldset {
  font-family: "Montserrat", sans-serif
}

u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

fieldset {
float: right;
background-color: white;
}

header {
background-color: red;
text-align: center;
padding:128px 16px
}

#footerTable{
width: 100%;
text-align: center;
background-color: blue;
}

table {
width: 100%;
text-align: center;
background-color: yellow;
}

th {
height: 50px;
text-align: center;
}

th, td {
padding: 10px;
}

/* Add padding to containers */
.container {
padding: 6px;
background-color: lightgrey;
box-sizing: border-box;
width: 50%;
}

 /* Input fields */
input[type=text], input[type=password] {
width: 90%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
outline: none;
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

 /* Set a style for the register button */
 .registerbtn {
background-color: red;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}